<% wrap_layout :layout do %>
  <div class="guides-accordion">
    <ul class="accordion">
      <li>
        <a href="javascript:void(0)" class="js-accordion-trigger">In the browser: Vega Prime</a>
        <ul class="submenu">
          <li>
            <a href="javascript:void(0)">Constructor: url</a>
          </li>
          <li>
            <a href="javascript:void(0)">Constructor: roomId</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="guide-wrapper">
    <article class="type-system-sans">
      <%= yield %>
    </article>
  </div>
<% end %>
