<h1>Welcome to the Vega WebRTC guides!</h1>

<p>
  Here you will find some general info you might find useful to build
  peer-to-peer applications with Vega WebRTC tools.
</p>

<p>
  If you think anything can be added here, feel free to open a pull request to
  <a href="https://github.com/vega-webrtc/vega-webrtc-website">this website's
  githhub repository.</a>
</p>
