---
title: Vega WebRTC
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-name">
      <h1>Vega WebRTC</h1>
    </div>
    <div class="hero-copy">
      <h1>Video calls in your web application made easy.</h1>
      <p>
        Vega WebRTC handles native WebRTC objects so that you can focus on
        building great peer-to-peer applications.
      </p>  

      <a class="button" href="/try-it">Build a video chat application in 5 minutes!</a>
      <a class="button" href="/guides">View the guides</a>
    </div>
  </div>
</div>
