---
title: Vega WebRTC
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-name">
      <h1>Vega WebRTC</h1>
    </div>
    <div class="hero-copy">
      <h1>Video calls in your web application made easy.</h1>
      <p>
        Native WebRTC objects are messy and confusing. Vega WebRTC handles them
        so that you can focus on building peer-to-peer experiences.
      </p>  
    </div>
  </div>
</div>
