---
title: Vega WebRTC
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-name">
      <h1>Vega WebRTC</h1>
    </div>
    <div class="hero-copy">
      <h1>Video calls in your application. Easily customized.</h1>
      <p>
        Vega WebRTC provides tools to create video call rooms in your
        applications. It wraps native WebRTC APIs to give easy access to peers.
        It helps you focus on what makes <em>your</em> chat application
        unique.
      </p>  
    </div>
  </div>
</div>
