<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
</head>

<article class="type-system-sans">
  <p class="type">It's too easy</p>
  <h1>Make a video chat app in 5 minutes!</h1>
  <h3>Step 1: Boot a Vega Server</h3>
  <p>
    We need a Vega Server to handle some initial communication between peers.
  </p>
  <h3>Step 2: Show your local video</h3>
  <p>
    Let's get the user media and display it if the user allows their stream to be shared.
  </p>
  <h3>Step 3: Handle your peers</h3>
  <p>
    Now we need to display peers when they arrive, and remove them when they go away.
  </p>
  <h3>Step 4: Profit?</h3>
  <p>
    Congratulations: you've made a video chat application!
  </p>
</article>
